/* Обнуляющие стили */
*{
    margin: 0;
    padding: 0;
    border: 0;
}

 *, *:before, *::after{
    -moz-box-sizing:border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    color: black;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

nav, footer, aside {display: block;}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {cursor: pointer}
button::-moz-focus-inner{
    padding: 0; border: 0;
}

:focus, :active {outline: none;}

a, a:visited{text-decoration: none; color: inherit;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

/* Стили для верски */
@font-face {
    font-family: 'Euclid Circular A';
    src: url(../fonts/Euclid\ Circular\ A\ Regular.ttf);
}

body {
    font-family: 'Inter';
    width: 1500px;
    padding: 0px 60px;
    margin: 0 auto;
}

/* HEADER BEGIN */
header {
    width: 1442px;;
    height: 678px;
    margin: 0 auto;
    background-color: #CBECFF;
    position: relative;
}

.lang-select{
    height: 25px;
    width: 80px;
    margin-top: 25px;
    margin-right: 222px;
    float: right;
}

.lang-select li{
    display: inline-block;
    width: 26px;
    height: 25px;
    margin: 0 5px;
    text-align: center; 
    padding: 5px;
    text-transform: capitalize;
}

.action {
    color: rgba(9, 98, 232, 1);    
    border-radius: 50%;
    background-color: #FFFFFF;
}


.logo-section {
    float: left;
    width: 330px;
    height: 305px;   
    margin: 122px 0px 0px 205px;
    
} 

.logo-section h1 {
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
}

.button-blue {
    width: 199px;
    height: 52px;
    background: #0962E8;
    border-radius: 8px;
    margin-top: 38px;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: white;
}

.button-blue:hover {
   box-shadow: inset 0px 0px 15px 0px white;
}

.logo-text {
    font-size: 64px;
    color: rgba(41, 55, 78, 1);
    font-weight: 700;
    line-height: 130%;
}

.logo-text span{
    display: inline-block;
    background: #FFFFFF;
    border-radius: 20px;
    width: 122px;
    height: 80px;
    color: rgba(9, 98, 232, 1);
    letter-spacing: 0.6%;
    text-align: center;
}


.header-img {
    position: absolute;
    width: 600px;
    height: 550px;
    left: 727px;
    top: 59px;
} 

/* HEADER END */
/* MAIN START */
main {
    position: relative;
}

.block-main-info {
    height: 120px;
    z-index: 2;
    position: relative;
    left: 208px;
    /* top: 580px; */
    top:-80px;

}

.block-main-top{
    display: inline-block;
    width: 250px;
    height: 120px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.05);
    margin-right: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    padding: 22px 0px 0px 20px;
    color: #29374E;
}

.block-main-top p {
    display: inline-block;
    width: 149px;
}


.block-main-top img {
    height: 25px;
    background-color: #EFF9FF;
}

.circle-img {
    /* display: inline-block; */
    position: relative;
    top: -70px;
    left: 170px;
    padding: 7px 0px 0px 8px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(239, 249, 255, 1);
}


.slogan {
    width: 550px;
    font-size: 38px;
    line-height: 49px;
    letter-spacing: 3%;
    text-align: center;
    font-family: Euclid Circular A;
    font-weight: 600;
    margin: 60px 0px 0px 450px;
}

.slogan span {
    color:rgba(9, 98, 232, 1);
}

.platform {
    width: 1040px;
    height: 330px;
    margin: 30px 0px 0px 220px;
}

.inner-block {
    display: inline-block;
    width: 500px;
    height: 330px;
    background-color:rgba(233, 246, 255, 1);
    border-radius: 20px;
    padding-top: 40px;
    padding-left: 25px;
    margin-right: 15px;
}

.inner-block img {
    display: inline-block;
    width: 220px;
    height: 290px;
    margin: 8px 0px 0px 45px;
}

.platform-text-block {
    display: inline-block;
    width: 200px;
    height: 100px;
}

.platform-text-block h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.platform-text-block P {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-top: 12px;
}

.block-2 {
    width: 1040px;
    height: 330px;
    margin: 110px 0px 0px 220px;
}

.inner-block-2 {
    display: inline-block;
    width: 500px;
    height: 330px;
    padding-top: 40px;
    margin-right: 15px;
}

.represents {
    width: 460px;
    font-size: 38px;
    line-height: 49px;
    letter-spacing: 3%;
    text-align: left;
    font-family: Euclid Circular A;
    font-weight: 600;
    /* margin: 60px 0px 0px 450px; */
}

.represents span{
    color:rgba(9, 98, 232, 1);
}

.we-help {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    margin-top: 21px;
}
/* MAIN END */
