* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  font-size: 100%;
  color: black;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

nav,
footer,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

:focus,
:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
ul {
  padding: 0px;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

address {
  font-style: unset;
}

h1 {
  font-size: 12px;
  font-weight: normal;
}
/* -------------------------------------------------------------------------------- */

table {
  width: 600px;
  margin: 0 auto;
  /* border: 1px solid #000;*/
  border-collapse: collapse;
}

/* td {
  border: 1px solid #000;
} */

body {
  color: #000;
  font-family: "Noto Sans";
  font-style: normal;
  line-height: normal;
}

.logo {
  height: 120px;
  text-align: center;
  margin: 30px auto;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.header {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

.header h1 {
  padding-top: 155px;
  font-size: 36px;
  font-weight: 700;
  border-radius: 16px;
  color: white;
  background-color: rgb(235, 112, 255);
  width: 544px;
  height: 349px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.white-line {
  height: 40px;
}

.main-block {
  height: 356px;
  margin-bottom: 30px;
}

.main-block-img-1,
.main-block-text-1 {
  width: 50%;
  background-color: rgb(246, 192, 255);
}

.main-block-img-1,
.main-block-img-2,
.main-block-img-3 {
  padding: 36px 42px;
}

.main-block-img-1 img,
.main-block-img-2 img,
.main-block-img-3 img {
  display: block;
  width: 216px;
  height: 250px;
}

.main-block-text-1 h2,
.main-block-text-2 h2,
.main-block-text-3 h2 {
  /* Title */
  color: rgb(28, 30, 35);
  font-size: 27px;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
  margin: 30px auto 0;
}

.main-block-text-1 p,
.main-block-text-2 p,
.main-block-text-3 p {
  /* Texts */
  width: 252px;
  color: rgb(0, 0, 0);
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin: 14px auto 0;
}

.try-it-now {
  display: block;
  margin: 15px auto;
  border-radius: 4px;
  border: 1px solid #000;
  background: #fff;
  width: 97px;
  height: 42px;
  padding-top: 10px;
  color: #000;

  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.125px;
}

.main-block-img-2,
.main-block-text-2 {
  width: 50%;
  background-color: rgb(222, 255, 253);
}

.main-block-img-3,
.main-block-text-3 {
  width: 50%;
  background-color: rgb(248, 255, 168);
}

.buttom_text {
  height: 124px;
  width: 540px;
  margin: 0px 0px 40px 30px;

  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 153.5%;
  letter-spacing: 0%;
  text-align: left;

  border-bottom: 2px solid black;
}

.buttom_text p:last-child {
  margin: 20px 0 40px;
}

footer {
  max-width: 560px;
  margin: 40px auto 0;
}

.corp-name {
  margin: 0 auto;
  width: 347px;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 142.5%;
  letter-spacing: 0%;
  text-align: center;
}

.social-group {
  width: 220px;
  height: 24px;
  margin: 25px auto;
  display: block;
}

.social-group li {
  display: inline-block;
  margin-right: 26px;
}

.social-group li:last-child {
  margin-right: 0px;
}

.social-group img {
  width: 18px;
  height: 18px;
}

.addres-group {
  margin: 0 auto;
  width: 165px;
  height: 63px;

  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.5%;
  text-align: center;
}

.logo2 {
  width: 100px;
  height: 36px;
  text-align: center;
  margin-top: 0;
}
