* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  font-size: 100%;
  color: black;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

nav,
footer,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

:focus,
:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
ul {
  padding: 0px;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

address {
  font-style: unset;
}

/* ---------------------------------------- ---------------------------------------------- */
.wrapper {
  width: 600px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

body {
  color: #000;
  font-family: "Noto Sans";
  font-style: normal;
  line-height: normal;
}

/* .wrapper {
  border: 1px solid black;
} */

.header {
  margin-top: 40px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

.header h1 {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.logo {
  margin: 0 auto;
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
  text-transform: uppercase;
}

.img_1 {
  max-width: 504px;
  margin: 0 auto;
}

.text-p {
  max-width: 504px;
  margin: 0 auto;
  text-align: center;
  color: #000;

  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
}

.try-it-now {
  display: block;
  margin: 24px auto;
  border-radius: 4px;
  border: 1px solid #000;
  background: #fff;
  width: 94px;
  height: 42px;
  padding-top: 10px;
  color: #000;

  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.125px;
}

.visual-block {
  margin: 56px auto 0;
  width: 560px;
}

.visual-block img {
  display: block;
  float: left;
  width: 260px;
}

.text-conteiner {
  margin-left: 24px;
  float: right;
  width: 260px;
  padding-top: 20px;
}

.text-conteiner h3 {
  color: #1c1e23;
  font-size: 27px;
  font-weight: 700;
  line-height: 34px;
}

.text-conteiner p {
  margin-top: 10px;
  color: #1c1e23;
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
}

.visual-block__button {
  margin: 16px 0;
}

.image-conteiner-right {
  float: right;
}

.text-conteiner-left {
  float: left;
}

.text_buttom {
  margin: 40px auto 0;
  font-weight: 400;
  font-size: 20px;
  max-width: 560px;
  border-bottom: 2px solid black;
}

.text_buttom__down_text {
  margin: 40px 0;
}

footer {
  max-width: 552px;
  margin: 40px auto 0;
}

.corp-name {
  margin: 0 auto;
  width: 347px;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 142.5%;
  letter-spacing: 0%;
  text-align: center;
}

.social-group {
  width: 220px;
  height: 24px;
  margin: 25px auto;
  display: block;
}

.social-group li {
  display: inline-block;
  margin-right: 26px;
}

.social-group li:last-child {
  margin-right: 0px;
}

.social-group img {
  width: 18px;
  height: 18px;
}

.addres-group {
  margin: 0 auto;
  width: 165px;
  height: 63px;

  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.5%;
  text-align: center;
}

.logo2 {
  width: 100px;
  height: 36px;
  text-align: center;
  margin-top: 0;
}
